.jui-toast{
	padding:8px;
	background-color:rgba(0,0,0,0.5);
	position:absolute;
	border-radius:6px;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform-origin:translate(-50%,-50%);
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	&.top{
		top:5%;
	}
	&.center{
		top:50%;
	}
	&.bottom{
		bottom:5%;
	}
	.text{
		color:#fff;
		text-align:center;
		line-height:2em;
		display: block;
		font-size:14px;
	}
	.info{
		width:80px;
		img{
			width:100%;
			display: block;
		}
	}
}
/* 必需 */
.expand-transition {
  transition: all .5s ease;
  overflow: hidden;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter, .expand-leave {
  opacity: 0;
}